*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}





.pesquisa{
    width: auto;
    height: 60px;
    background-color: #E4D1B9;
}

.pesquisa{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}


#txtBusca{
    margin-right: 10px;
} 



.container {
    width: auto;
    height: 50vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

h1 {
	text-align: center;
	font-size: 54px;
}


.pokedex{
    display: flex;
	flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: auto;
    height: 380px;
}



.card {
	list-style: none;
	text-align:center;
	border-radius: 180px;
    width: 256px;
    height: 256px;
    border-style: groove;
    border-width: 1px;
	border-color: lightseagreen;
}
.card{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}


.steel {
	background-color: #f4f4f4;
    border-radius: 100rem;
}

.fire {
	background-color: #FDDFDF;
    border-radius: 100rem;
}

.grass {
	background-color: #DEFDE0;
    border-radius: 100rem;
}

.electric {
	background-color: #FCF7DE;
    border-radius: 100rem;
	margin-bottom: 15px;
}

.water, .ice {
	background-color: #DEF3FD;
    border-radius: 100rem;
}

.ground {
	background-color: #f4e7da;
    border-radius: 100rem;
}

.rock {
	background-color: #d5d5d4;
    border-radius: 100rem;
}

.fairy {
	background-color: #fceaff;
    border-radius: 100rem;
}

.poison {
	background-color: #98d7a5;
    border-radius: 100rem;
}

.bug {
	background-color: #f8d5a3;
    border-radius: 100rem;
}

.dragon {
	background-color: #97b3e6;
    border-radius: 100rem;
}

.psychic {
	background-color: #eaeda1;
    border-radius: 100rem;
}

.flying {
	background-color: #F5F5F5;
    border-radius: 100rem;
}

.fighting {
	background-color: #E6E0D4;
    border-radius: 100rem;
}

.normal {
	background-color: #F5F5F5;
    border-radius: 100rem;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 36px;
	font-weight: bold;
	position: relative;
	z-index: 2;
	
}

.card-subtitle {
	margin-top: 10px;
    margin-bottom: 10px;
	color: #666;
	font-weight: 300;
	position: relative;
	z-index: 2;
	border:lightslategrey;
	border-width: 2px;
	border-radius: 2rem;
	border-style:solid;
}

.card-image {
	height: 256px;
    width: 256px;
    border-radius: 2rem;
	background-color: red;
}


@media screen and (max-width: 501px)
{
	.pesquisa{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: auto;
		height: 150px;

	}
	
}







@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}
